<div class="group">
  <p class="company">
<img src =  "https://4.imimg.com/data4/HM/ES/MY-19584630/online_food_ordering-500x500.png" routerLink="/home" style="cursor: pointer" width="100"></p>
  <p class="com" style="margin-top:1em; text-align:left; line-height:100%; font-size:25px; cursor: none">Bellicious<br/><span style="font-size:15px;">Like Mom’s house, Where taste is its Identity</span></p>
  <p class ="home" routerLink="/home" style="margin-top:2.6em; cursor: pointer;">&#160;Home</p>
  <p class ="product" routerLink="/Products" style="margin-top:2.6em; cursor: pointer;">Products</p>
  <p class="bill" routerLink="/Cart" style="margin-top:2.6em; cursor: pointer;">Cart</p>
  <p class="chkout" routerLink="/Billing&CheckOut" style="margin-top:2.6em; cursor: pointer;">Billing&CheckOut</p>
  <p class="log" style="float:right; font-size:150%; margin-top:-0.1em; font-family:Calibri; cursor: pointer;" routerLink="/login"> &#160;Login / Signup</p>

  </div>